@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Futura";
    src:local("Futura"), url("./fonts/Futura\ Bold\ font.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Poliphilus;
    src:url("./fonts/garmond.ttf");
    font-weight: bold;
}